<nav class="navbar navbar-dark bg-dark fixed-bottom mt-4">
  <div class="container-fluid">
    <span class="navbar-text">
      <span class="badge rounded-pill bg-info text-dark mt-3">Usado:
        <span class="badge rounded-pill bg-primary">Bootstrap</span>
        <span class="badge rounded-pill bg-success">Node Js</span>
        <span class="badge rounded-pill bg-light text-dark">MongoDB</span>
      </span>
      Criado com amor, por Guilherme Feitosa S2!
    </span>
  </div>
</nav>
