<h3 class="mt-4">Informações sobre codificação do programa!</h3>

<div class="mt-3 card">
  <div class="card-body">
      <p class="fw-bolder mt-2">Olá pessoal, eu sou o criador desse mero programa rsrs, o intuito desse pequeno projeto foi a busca de conhecimentos em Node Js e Mongo DB</p>
  </div>
  <div class="card-body">
      <p class="lh-1 fw-normal">
        Nessa busca de conhecimentos eu aprendi não só os citados na introdução, mas também Bootstrap v5.0, e andei treinando mysql e vários componentes do node como Sequelize, Express, Body Parser e outros.<br><br>
        Em suma, o mundo do JavaScript é sensacional, Node Js é muito bom, se eu tivesse descobrido ele anos atrás eu teria usado ele nos meus projetos de conclusão de curso técnico em informática no ensino médio.<br><br>
        Se esta em buscar de um aprendizado em JavaScript, eu recomendo o Node JS com objetivo de back-end nessa linguagem, é uma maravilha!!!
      </p>

  </div>
</div>
