<h2>Adicionando pessoas!</h2>
<div class="card mt-3">
  <div class="card-body">
    <form method="post" action="">
       Nome:
      <input type="text" name="nome" required class="form-control"><br>
      Sobrenome:
      <input type="text" name="sobrenome" required class="form-control"><br>

      <button type="submit" name="button" class="btn btn-success mt-3">Salvar</button>
    </form>
  </div>
</div>
